<div class="row">
  <div class="span4">
    <h1>Recherche</h1>
  </div>
  <div class="span8 input-append">
    <br />
    <%= render 'search_bar' %>
  </div>
</div>
<hr />


<ul>
  <% @recettes.each do |recette| %>
    <li>
      <%= link_to recette.titre, recette %>
    </li>
  <% end %>
</ul>
