<div class="row-fluid">
  <div class="span4">
    <%= image_tag "#{@user.gravatar}?s=200", class: "thumbnail" %>
    <h1><%= @user.name %></h1>
  </div>
</div>

<ul class="nav nav-tabs" id="userTab">
  <li class="active">
    <a href="#recette" class="btn btn-large btn-inverse" data-toggle="tab">Afficher vos recettes</a>
  </li>
  <li>
    <a href="#favoris" class="btn btn-large btn-inverse" data-toggle="tab">Afficher vos favoris</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="recette">
    <h3>Vos recettes</h3>
    <%= render :partial => 'recettes/liste_recettes', :locals => {:recettes => @user.recettes} %>
  </div>
  <div class="tab-pane" id="favoris">
    <h3>Vos Favoris</h3>
    <%= render :partial => 'recettes/liste_recettes', :locals => {:recettes => @user.find_liked_items} %>
  </div>
</div>
