label .icon-*{
	width:14px;
    height:14px;
    background-position: center center;
}

label .icon-sans-gluten {
	background-image: url("/assets/sans_gluten.gif")!important;
}

label .icon-sans-lactose{
	background: url("/assets/sans_lactose.gif")!important;
}

label .icon-sans-noix {
	background: url("/assets/sans_noix.gif")!important;
}
