// Place all the styles related to the recettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td.option{padding:0 5px;}

.img_preview{
	min-height:200px;
	min-width: 200px;
	max-height:200px;
	max-width: 200px;
}